body{
    padding: 0;
    margin: 0;
    background: #000;
    color: aliceblue;
    height: 100vh;
}
.wrapper{
    position: relative;
    height: 100vh;
}
.container{
    --color:rgb(255, 230, 2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vh;
    min-width: 40vh;
    padding: 1rem;
    text-align:center;

}
.container img{
    width:8rem;
}
.content{
    line-height: 1.5em;
    font-size: 1.25em;
    margin-top: 2.5em;
    padding: .3em 2em;
    border-radius: 1px;
    background: rgba(129, 2, 255, 0.4);
    border: .5em solid rgba(129, 2, 255, .3);
    box-shadow:/* 0 0 0px 0.5em rgba(129, 2, 255, 0.1), */
                0 0 0px 0.5em rgba(129, 2, 255, 0.3),
                0 0 0px 1.0em rgba(129, 2, 255, 0.2),
                0 0 0px 1.5em rgba(129, 2, 255, 0.1);
    }

.content:hover,
.content:focus{
    animation: rgb .3s infinite;
}
@keyframes rgb {
    0%{
        background: rgba(0, 0, 0, .3);
        color:white;
    }
    20%{
        background: rgba(255, 0, 0, .3);
        color:white;

    }
    40%{
        background: rgba(153, 255, 0, .3);
        color:white;

    }
    60%{
        background: rgba(0, 0, 255, .3);
        color:white;
        
    }
    80%{
        background: rgba(255, 0, 43, .3);
        color:white;
    }
    100%{
        background: rgba(255, 255, 255, 0.3);
        color:white;

    }
    

}



@media (max-width:400px)  {
    
    .container img{
        transform: scale(.9);
        margin-top: 5em;
        margin-bottom: 0;
    }
    .content{
        margin: 0;
        line-height: 1.2em;
        transform: scale(.8);
    }
    
}














